@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:700&display=swap');

@font-face {
    font-family: 'pricedownblack';
    src: url('pricedown_bl-webfont.woff2') format('woff2'),
         url('pricedown_bl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gta-ui';
    src: url('gta-ui.ttf');
}

@font-face {
    font-family: 'Pricedown';
    src: url('pdown.ttf');
}
html {
    overflow: hidden;
}

#icon {
  height: 21px;
  width: auto;
  margin-right: 10px;
}

p {
    margin: 0 !important;
}

.money-container {
    position: absolute;
    right: 5vw;
    top: 7vh;
}

#cash {
    color: #ffffff;
}

.money-cash,.money-bank {
    display: none;
    float:right;
    font-family: 'Pricedown';
    font-weight: 400;
    font-size: 29px;
    color: white;
    padding: 4px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 0;
    margin-right: 6px;
    margin-top: 6px;
    padding: 0;
}

.money-cash {
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
}

.money-bank {
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    top: 55px;
}

#plus-changeamount {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #f0f0f0;
}

#minus-changeamount {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #f0f0f0;
}

.minus {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #801e1f;
}

.munnie {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #277418;
}

.munnie-bank {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #ffffff;
}

.moneyupdate {
    float: right;
    padding-left: 0.5vw;
}

.bankupdate {
    float: right;
    padding-left: 0.5vw;
}

.plus {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #277418;
}

.ui-container {
    display: none;
    font-size: 10vh;
    overflow: hidden;
    font-family: sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: .1vh;
}

.ui-car-container {
    display: none;
}

.ui-car-time {
    display: block !important;
    position: absolute;
    font-size: 1.5vh;
    bottom: 4.5vw;
    left: 17vw;
    color: #ffffff;
    text-shadow: 1px 1px 0px #000000;
}

.ui-car-meters {
    display: block !important;
    position: absolute;
    font-size: 1.5vh;
    bottom: 4.5vw;
    left: 20.5vw;
    color: #ffffff;
    text-shadow: 1px 1px 0px #000000;
}

.car-info {
    position: relative;
    float: left;
}

.ui-car-otherinfo {
    display: none;
  position: absolute;
  left: 21%;
  bottom: 4.5%;
  display: flex;
}

.info-label {
    position: relative;
    top: -.35vh;
    font-size: 1vh;
    text-shadow: 1px 1px 0px #000000;
    
}

.ui-car-street {
    font-size: 15px;
    position: absolute;
    bottom: 0.28vh;
    left: 23.5vw;
    text-shadow: 1px 1px 0px #000000;
    color: #ffffff;
}

.car-engine-info img {
    width: 3vh;
}


.seatbelt-text {
    font-size: 1.45vh;
    color: #46ad34;
    text-shadow: 1px 1px 0px #000000;
}

/* NEW UI */

.ui-bars-container {
    display: flex;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

/* Container Styling */

/* .mic-circle {
    position: absolute;
    top: 22.5vh;
    left: -2vh;
}  */

.hp-circle {
    position: absolute;
    top: 22.5vh;
    left: -2vh;
}

.armor-circle {
    position: absolute;
    top: 22.5vh;
    margin-left: 3vh;
}

.food-circle {
    position: absolute;
    top: 22.5vh;
    margin-left: 8vh;
}

.thirst-circle {
    position: absolute;
    top: 22.5vh;
    margin-left: 13vh;
}

.oxy-circle {
    position: absolute;
    top: 22.5vh;
    margin-left: 18vh;
}

.stress-circle {
    position: absolute;
    top: 22.5vh;
    margin-left: 23vh;
}

.fuel-circle {
    position: absolute;
    top: -6.5vh;
    left: 4vh;
}

.dev {
    position: absolute;
    left: 105.7%;
}

.dev>div {
    width: 4px;
    height: 4px;
    border: 2px solid #F55713;
    background: #F55713;
    border-radius: 50%;
    /* background-color: rgba(0,0,0,0.4); */
    margin-bottom: 2px;
}

.devDebug {
    position: absolute;
    left: 109.5%;
}

.devDebug>div {
    width: 4px;
    height: 4px;
    border: 2px solid #1B6CE6;
    background: #1B6CE6;
    border-radius: 50%;
    margin-bottom: 2px;
}

.voice-block {
    display: inline-block;
    border-radius: 50%;
    height: .7vh;
    width: .7vh;
    background-color: rgb(255, 255, 255, 0.5);
}

[data-voicetype="3"] {
    position: absolute;
    top: -0.6vh;

    left: 1.0vh;

    left: .2vh;

}

[data-voicetype="2"] {
    position: absolute;
    top: -1vh;
    left: 2.15vh;
}

[data-voicetype="1"] {
    position: absolute;
    top: -0.6vh;
    left: 3.3vh;
}


.progress {
    -webkit-transition: 0.35s stroke-dashoffset;
    -o-transition: 0.35s stroke-dashoffset;
    transition: 0.35s stroke-dashoffset;
    -webkit-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  

  .backgroundCircle {
    
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }

  .progressplayer {
    -webkit-transition: 1.25s stroke-dashoffset;
    -o-transition: 1.25s stroke-dashoffset;
    transition: 1.25s stroke-dashoffset;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  .fundo {
    -webkit-transition: 1.25s stroke-dashoffset;
    -o-transition: 1.25s stroke-dashoffset;
    transition: 1.25s stroke-dashoffset;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  .progressmic {
    -webkit-transition: 0.0s stroke-dashoffset;
    -o-transition: 0.0s stroke-dashoffset;
    transition: 0.0s stroke-dashoffset;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  
  .circle-icon {
      font-size: 1.5vh;
      color: white;
}



.car-belt {
    position: absolute;
    top: -10vh;
    left: 4.8vh;
   /* border: 3px solid #BF360C;*/
    border-radius: 50%;
    width: 3.5vh;
    /*background-color: rgba(0, 0, 0, 0.8);*/
    height: 3.5vh;
    animation: pulse 2s infinite;
}

.car-belt i {
    color: rgb(136, 136, 136);
    padding: .9vh;
    font-size: 1.2vh;
   }
   

   .car-speedo {
    left: 4vh;
    top: -2.5vh;
    position: absolute;
    border-top: 3px solid rgba(255, 255, 255, 0.8);
    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
    border-right: 3px solid transparent;
    border-left: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 32px;
    transform: rotate(345deg);
   }

   .speed-type {
    font-size: 14px;
   }
   
   
   .car-speedcounter {
    position: absolute;
    top: -1vh;
    left: 6vh;
    width: 20vh;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px black;
   }

/*-----------------------------------------------------------------*/

.backgroundCircle2 {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  
  .mph {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px rgba(60, 60, 60, 0.8);
  }
  
  .fuel {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: 45% 45%;
    opacity: 1;
  }
  
  .counter {
    height: 100%;
    width: 100%;
  }
  
  .counter .counter2 {
    position: relative;
    height: 200%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .counter .counter2 div {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
  }
  .counter .counter2 div svg {
    opacity: 0.2;
  }
  .counter .counter2 .active svg {
    opacity: 0.8;
  }
  
  .counter .counter2 .speedometer {
    width: 100px;
    height: 100px;
    text-align: center;
    text-transform: uppercase; 
    text-shadow: 2px 2px rgba(60, 60, 60, 0.5);
  }
  .counter .counter2 .speedometer svg {
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: scale(2) translate(-25%, -25%);
    -ms-transform: scale(2) translate(-25%, -25%);
    transform: scale(2) translate(-25%, -25%);
  }
  
  .counter .counter2 .speedometer .text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    text-shadow: 2px 2px rgba(60, 60, 60, 0.8);
  }
  .counter .counter2 .speedometer .text .speed {
    color: white;
    font-size: 26px;
    display: block;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px rgba(60, 60, 60, 0.8);
  }
  
  .addon {
    display: flex;
    position: absolute;
    top: 45%;
    left: 15%;
  }
  
  @keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}
	50% {
		box-shadow: 0 0 0 2px rgb(255, 255, 255);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}

    
}

  .car-seatbelt-info img {
    display: flex;
    position: absolute;
    top: 1%;
    width: 2.5vh;
    animation: pulse 1.5s infinite;
    border-radius: 100%;
  }
   

.outline {
	position: fixed;
	bottom: 8.5vh;
	left: 2.25vh;
	text-align: center;
}

.mapborder {
	width: 27.2vh;
	height: 22.2vh;
	border: 2px solid whitesmoke;
	border-radius: 50%;
	box-shadow: 0px 0px 16px rgba(0,0,0,0.5);
	position: relative;
	top: 23px;
	display: inline-block;
}
  

