@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

html,
body,
h1,
p,
div,
button {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
  text-align: center;
  color: #00f00c;
}

body {
  display: none; /* display: flex; */
  
  /* height: 100vh; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  /* float: right; */
  /* margin-right: 200px; */
  margin-top: 13px;
}

h1 {
  display: none;
  width: 280px;
  font-size: 54px;
  text-shadow: 5px 5px rgba(47, 54, 64, 0.3);
  user-select: none;
}

p {
  padding: 0px 15px;
  border: 1px solid #ffffff5b;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.568);
  font-family: "Roboto Mono", monospace;
  font-size: 4.7vh;
  font-weight: bold;
  color: #ffffffb9;
  background-color: #03030359;
  user-select: none;
}

div {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

button {
  display: none;
  padding: 4px 15px;
  border: 3px solid #f7f1e3;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  font-weight: bold;
  color: #f7f1e3;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
}

button:nth-child(1) {
  background: #ffffff5b;
}

button:nth-child(2) {
  background: #b33939;
}

button:nth-child(3) {
  background: #218c74;
}